@charset "utf-8";
/* CSS Document */
body{
	background:#999999;
}
.input_style{
	margin:auto;
	width: 550px;
	font: 12px 'Telex', Tahoma, sans-serif;
	font-weight:bold;
}
.input_style label{
	padding-bottom: 5px;
	display:block;
	margin-top: 5px;
	border-bottom: 1px solid #999999;
}
.input_style label>span{
	float: left;
	width: 100px;
	text-align:right;
	padding-right: 10px;
	padding-top: 10px;
}
.input_style input[type="text"],.input_style input[type="email"],.input_style input[type="file"],.input_style input[type="password"]{
	width: 400px;
	border: 1px solid #CCCCCC;
	padding-left: 10px;
	padding-bottom: 10px;
	padding-top: 10px;
	padding-right: 10px;
	border-radius: 3px;
	font-family:'Telex', Tahoma, sans-serif;
	color:#999999; 
}
.input_style input[type="submit"]{
	background-color:#b98d10;
	border: none;
	border-radius: 4px;
	padding: 7px;
	font-weight:bold;
}
.input_style input[type="submit"]:hover{
	background-color: #975918;
}
.submit{
	margin-top:20px;
	text-align:center;
}
h1{
	font: 34px 'Telex', Tahoma, sans-serif;
	font-weight:bold;
	text-align:center;
}