@charset "utf-8";
/* CSS Document */
.tabel {
	border-collapse:collapse;
	width: 550px;
}
.tabel tr th{
	 background:#b98d10;
	 color:#333333;
	 padding:4px;
	 border-bottom:1px solid #999999;
}
.tabel tr td{
	padding:4px;
	border-bottom:1px solid #999999;
}
.halaman {
	margin-top: 10px;
}
.halaman a{
	padding:3px;
	 background:#990000;
	 -moz-border-radius:5px;
	 -webkit-border-radius:5px;
	 border:1px solid #FFA500;
	 font-size:10px;
	 font-weight:bold;
	 color:#FFF;
	 text-decoration:none;
}

.cari {
	text-align:right;
	width: 550px;
	margin-bottom: 10px;
}
.cari input[type="text"]{
	width:125px;
	padding-left: 10px;
	padding-bottom: 3px;
	padding-top: 3px;
	border: 1px solid #CCCCCC;
	border-radius: 7px;
	font-family:'Telex', Tahoma, sans-serif;
	color:#999999;
}
.cari input[type="submit"]{
	background-color:#b98d10;
	border: none;
	border-radius: 7px;
	padding: 3px;
}
.cari input[type="submit"]:hover{
	background-color: #975918;
}

